h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

h5{
    text-align: center;
}

h6{
    text-align: center;
}

/* Makes yellow warning a more visible color.*/
.table tbody tr.warning > td {
  background-color: #FDEFA5;
}

body {  
  padding-top: 50px;
}

.pagination-centered {
  text-align: center;
}
